# General
.DS_Store

# Thumbnails
._*

# Stemgen
input/*
output/*

# Spleeter
pretrained_models/*

# Demucs
demucs/*

# Droplet
stemgen-droplet.app

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
