# General
.DS_Store

# Thumbnails
._*

# Stemgen
input/*
output/*
metadata.part1.json
metadata.part2.json

# Spleeter
pretrained_models/*

# Demucs
demucs/*

# Droplet
stemgen-droplet.app

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Python Egg
*.egg-info/
*.egg